<!DOCTYPE html>
<html>
  <head>
    <title>EncoderRails7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application-sass" %>
    <%= stylesheet_link_tag "application-tailwind" %>
  </head>

  <body class="animate__animated animate__fadeIn animate__fast">
    <%= render partial: '/layouts/components/alerts/green', locals: {
      text: 'Pronto! Você já pode acessar sua conta.'
    } %>

    <%= yield %>

    <%#= render partial: '/layouts/components/navbar' %>
    <%= render partial: '/layouts/components/loader' %>
    <%= render partial: '/layouts/components/dark_mode_button' %>
    <%#= render partial: '/layouts/components/copyright' %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
